.navbar {
    background-image: linear-gradient(to right bottom,rgb(177, 109, 255), rgb(242, 125, 255)) ;
    text-decoration: none;
}
body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titulo{
    height: 50px;
    width: 30%;
    background-color: rgb(255, 173, 173);
    margin-left: 35%;
    margin-right: 35%;
}
.forms{
    width: 50%;
    margin-left: 25%;
    background-color: rgb(205, 205, 205);
}